/*------fonts--------*/

@font-face{
font-family: ChalkTitle;
    src: url(../fonts/orange_juice.ttf);

}

/*--------index----------*/
.container{
margin-top: 40px;
    
}
.chalk{
background-color: grey;
  
   
}
.chalk h1{
text-align: center;
    margin-top: 150px;
font-family: ChalkTitle;
    font-size: 90px;
     color: black;
    text-shadow: 2px 2px white;
}
.info{
position: relative;
    display: inline-block;
 left: 42%
}
.item{
color: black;
}

#list li{
    margin-top: 10px;
cursor:pointer;
    list-style: none;
    position: relative;
    left: -150px;
text-align: left;
    border-bottom: 2px solid white;
    font-size: 30px;
    color: black;
    width: 400px;
    font-family:ChalkTitle; 
}
.trash{
float: right;
    cursor:default;
}
.strike{
text-decoration:line-through;
}
input{
width: 500px;
position: relative;
    right:160px;
 
}
#add{
    position: relative;
    right: 160px;
    
}
#New{
position: relative;
    bottom:20px;
    left: 40px

}